.header__links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 40px;
}

@media screen and (max-width:500px) {
  .header__links {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }
}
