.header__link {
  text-decoration: none;
  color: #010101;
  font-weight: bold;
  font-size: 15px;
  line-height: 1.2;
  transition: opacity .5s linear;
}

.header__link:hover {
  opacity: .5;
}

@media screen and (max-width: 425px) {
  .header__link:hover {
    opacity: none;
  }

  .header__link:focus {
    opacity: .5;
  }
}
