@font-face {
    font-family: 'Basis Grotesque Arabic Pro';
    src:
      url('BasisGrotesqueArabicPro-Bold.woff2') format('woff2'),
      url('BasisGrotesqueArabicPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Basis Grotesque Arabic Pro';
    src:
      url('BasisGrotesqueArabicPro-Regular.woff2') format('woff2'),
      url('BasisGrotesqueArabicPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Basis Grotesque Arabic Pro';
    src:
      url('BasisGrotesqueArabicPro-Black.woff2') format('woff2'),
      url('BasisGrotesqueArabicPro-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
  font-family: 'Basis Grotesque Mono Pro';
  src:
    url('BasisGrotesqueMonoPro-Bold.woff2') format('woff2'),
    url('BasisGrotesqueMonoPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
